.navigator {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  height: 3.5rem;
  background: var(--light);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navigator::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  bottom: -2.5rem;
  border-radius: 50%;
  left: 0;
  box-shadow: -1.25rem -1.25rem 0 var(--light);
}

.navigator a {
  color: var(--dark);
}

.navigator svg {
  cursor: pointer;
  min-width: 1rem;
}

.navigator a.menu {
  transition: 0.3s ease;
}

.navigator a.menu:hover {
  color: var(--blue);
}

.navigator form {
  max-width: 25rem;
  width: 100%;
  margin-right: auto;
}

.navigator form div {
  display: flex;
  align-items: center;
  height: 2.25rem;
}

.navigator form div input {
  flex-grow: 1;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  border: none;
  background: var(--grey);
  border-radius: 2.25rem 0 0 2.25rem;
  outline: none;
}

.navigator form div button {
  width: 2.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-radius: 0 2.25rem 2.25rem 0;
  cursor: pointer;
}

.navigator a.bell {
  font-size: 1.25rem;
  position: relative;
}

.navigator a.bell span {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 0.125rem solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator a.avatar img {
  object-fit: cover;
}
.navigator a.avatar {
  background-color: bisque;
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 576px) {
  .navigator {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .navigator > svg {
    display: none;
  }

  .navigator a.menu {
    display: none;
  }
}
